.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.trending-card {
  .ant-card-body {
    padding: 0px 24px 0px 24px;
  }
}

.App-link {
  color: #61dafb;
}

.container {
  margin: 5rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.site-statistic-demo-card {
  padding: 10px;
  background: #ececec;
}

.ant-carousel .slick-dots li button {
  background: rgba(163, 163, 163, 0.85);
  opacity: 0.4;
}

.ant-carousel .slick-dots li.slick-active button {
  opacity: 1;
  background: rgba(163, 163, 163, 0.85);
}
